#Milwaukee, #PortlandMaine, #elPaso, #Brazil, #Antarctica, #whoops {
  display: none;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
}

.container-fluid {
  text-align: center;
}

.page-header {
  background-color: #d6d6c2;
  padding-top: 5px;
}

p.results {
  text-align: center;
}
